code/ReadTemperature.json
[
    {
        "id": "e6949b65.6abbd8",
        "type": "http request",
        "z": "8a47c0c2.a53a6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://192.168.178.xxx",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 590,
        "y": 400,
        "wires": [
            [
                "ed7973f0.3372c"
            ]
        ]
    },
    {
        "id": "7b7b467f.1cf738",
        "type": "template",
        "z": "8a47c0c2.a53a6",
        "name": "Get oid value XML",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"\n  xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\"\n  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n  xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n  xmlns:ns=\"http://ws01.lom.ch/soap/\">\n  <SOAP-ENV:Body>\n    <ns:getDpRequest>\n      <ref><oid>/1/2/7/121/1</oid></ref>      \n      <startIndex>0</startIndex>\n      <count>1</count>\n    </ns:getDpRequest>  \n  </SOAP-ENV:Body>\n</SOAP-ENV:Envelope>",
        "output": "str",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "e6949b65.6abbd8"
            ]
        ]
    },
    {
        "id": "ed7973f0.3372c",
        "type": "xml",
        "z": "8a47c0c2.a53a6",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 770,
        "y": 400,
        "wires": [
            [
                "c282b89f.be9b08"
            ]
        ]
    },
    {
        "id": "c282b89f.be9b08",
        "type": "function",
        "z": "8a47c0c2.a53a6",
        "name": "Get oid name & value",
        "func": "// Get oid value\nvar name = msg.payload[\"SOAP-ENV:Envelope\"][\"SOAP-ENV:Body\"][0][\"ns:getDpResponse\"][0].ref[0].oid[0];\nvar temperature = Number.parseFloat(msg.payload[\"SOAP-ENV:Envelope\"][\"SOAP-ENV:Body\"][0][\"ns:getDpResponse\"][0].dpCfg[0].value[0]);\n\nif (Number.isNaN(temperature) == false)\n{\n    // Compose payload\n    msg.measurement = \"WaterTemperature\";\n    \n    msg.payload = {\n        value:temperature\n    };\n    return msg;    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 400,
        "wires": [
            [
                "84d539d2.fd51f8",
                "adcb75c4.7ccb08"
            ]
        ]
    },
    {
        "id": "fec82df.fe978d",
        "type": "comment",
        "z": "8a47c0c2.a53a6",
        "name": "web2com access",
        "info": "",
        "x": 360,
        "y": 360,
        "wires": []
    },
    {
        "id": "84d539d2.fd51f8",
        "type": "ui_gauge",
        "z": "8a47c0c2.a53a6",
        "name": "",
        "group": "e967e1cd.d0e6a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Warmwasser Temperatur",
        "label": "°C",
        "format": "{{msg.payload.value | number:1}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#f20202",
            "#e6e600",
            "#0af512"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1310,
        "y": 440,
        "wires": []
    },
    {
        "id": "adcb75c4.7ccb08",
        "type": "influxdb out",
        "z": "8a47c0c2.a53a6",
        "influxdb": "d25dfa72.ceda58",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "LyssachData",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1270,
        "y": 400,
        "wires": []
    },
    {
        "id": "e967e1cd.d0e6a",
        "type": "ui_group",
        "name": "Warmwasser",
        "tab": "f0a5781a.01ed08",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "d25dfa72.ceda58",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.8-flux",
        "url": "http://192.168.178.xx:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "f0a5781a.01ed08",
        "type": "ui_tab",
        "name": "Monitoring",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
